<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @pagina.nombre %>
</p>

<p>
  <strong>Url:</strong>
  <%= @pagina.url %>
</p>

<%= link_to 'Edit', edit_pagina_path(@pagina) %> |
<%= link_to 'Back', paginas_path %>
