<p id="notice"><%= notice %></p>

<p>
  <strong>Iso:</strong>
  <%= @pai.iso %>
</p>

<p>
  <strong>Name:</strong>
  <%= @pai.name %>
</p>

<p>
  <strong>Nicename:</strong>
  <%= @pai.nicename %>
</p>

<p>
  <strong>Iso3:</strong>
  <%= @pai.iso3 %>
</p>

<p>
  <strong>Numcode:</strong>
  <%= @pai.numcode %>
</p>

<p>
  <strong>Phonecode:</strong>
  <%= @pai.phonecode %>
</p>

<%= link_to 'Edit', edit_pai_path(@pai) %> |
<%= link_to 'Back', pais_path %>
